[submodule "ros2_messages/adore_ros2_msgs"]
	path = ros2_workspace/src/adore_ros2_msgs
	url = git@github.com:eclipse-adore/adore_ros2_msgs.git
[submodule "nodes/adore_simulated_vehicle"]
	path = ros2_workspace/src/adore_ros2_nodes/simulated_vehicle
	url = git@github.com:eclipse-adore/adore_simulated_vehicle.git
[submodule "mission_control"]
	path = ros2_workspace/src/adore_ros2_nodes/mission_control
	url = git@github.com:eclipse-adore/adore_mission_control.git
[submodule "nodes/adore_visualizer"]
	path = ros2_workspace/src/adore_ros2_nodes/visualizer
	url = git@github.com:eclipse-adore/adore_visualizer.git
[submodule "nodes/adore_decision_maker"]
	path = ros2_workspace/src/adore_ros2_nodes/decision_maker
	url = git@github.com:eclipse-adore/adore_decision_maker.git
[submodule "nodes/adore_trajectory_tracker"]
	path = ros2_workspace/src/adore_ros2_nodes/trajectory_tracker
	url = git@github.com:eclipse-adore/adore_trajectory_tracker.git
[submodule "adore_scenarios/adore_simulation_scenarios"]
	path = adore_scenarios/simulation_scenarios
	url = git@github.com:eclipse-adore/adore_simulation_scenarios.git
[submodule "interfaces/sumo_bridge"]
	path = ros2_workspace/src/adore_interfaces/sumo_bridge
	url = git@github.com:eclipse-adore/sumo_if_ros.git
[submodule "interfaces/carla_bridge"]
	path = ros2_workspace/src/adore_interfaces/carla_bridge
	url = git@github.com:eclipse-adore/adore_if_carla.git
[submodule "ros2_messages/ros-carla-msgs"]
	path = ros2_workspace/src/vendor/ros-carla-msgs
	url = git@github.com:carla-simulator/ros-carla-msgs.git
[submodule "tools/ros2_observer"]
	path = tools/ros2_observer
	url = git@github.com:DLR-TS/ros2_observer.git
[submodule "libraries/adore_planning"]
	path = ros2_workspace/src/adore_libraries/adore_planning
	url = git@github.com:eclipse-adore/adore_planning.git
[submodule "libraries/adore_controllers"]
	path = ros2_workspace/src/adore_libraries/adore_controllers
	url = git@github.com:eclipse-adore/adore_controllers.git
[submodule "libraries/adore_map"]
	path = ros2_workspace/src/adore_libraries/adore_map
	url = git@github.com:eclipse-adore/adore_map.git
[submodule "libraries/adore_math"]
	path = ros2_workspace/src/adore_libraries/adore_math
	url = git@github.com:eclipse-adore/adore_math.git
[submodule "libraries/adore_dynamics"]
	path = ros2_workspace/src/adore_libraries/adore_dynamics
	url = git@github.com:eclipse-adore/adore_dynamics.git
[submodule "conversions/adore_dynamics_conversions"]
	path = ros2_workspace/src/adore_ros2_conversions/adore_dynamics_conversions
	url = git@github.com:eclipse-adore/adore_dynamics_conversions.git
[submodule "conversions/adore_map_conversions"]
	path = ros2_workspace/src/adore_ros2_conversions/adore_map_conversions
	url = git@github.com:eclipse-adore/adore_map_conversions.git
[submodule "conversions/adore_math_conversions"]
	path = ros2_workspace/src/adore_ros2_conversions/adore_math_conversions
	url = git@github.com:eclipse-adore/adore_math_conversions.git
[submodule "nodes/adore_decision_maker_infrastructure"]
	path = ros2_workspace/src/adore_ros2_nodes/decision_maker_infrastructure
	url = git@github.com:eclipse-adore/adore_decision_maker_infrastructure.git
[submodule "nodes/adore_simulated_remote_operator"]
	path = ros2_workspace/src/adore_ros2_nodes/simulated_remote_operator
	url = git@github.com:eclipse-adore/adore_simulated_remote_operator.git
[submodule "vendor/osqp_eigen"]
	path = vendor/osqp/osqp_eigen
	url = https://github.com/dlr-ts/osqp-eigen.git
[submodule "vendor/osqp"]
	path = vendor/osqp/osqp
	url = https://github.com/osqp/osqp.git
[submodule "tools/adore_model_checker"]
	path = tools/adore_model_checker
	url = git@github.com:DLR-TS/adore_model_checker.git
[submodule "vendor/caches"]
	path = ros2_workspace/src/vendor/caches
	url = git@github.com:s0nofab1t/caches.git
	branch = feature/wfs-downloader
[submodule "adore_cli"]
	path = adore_cli
	url = git@github.com:eclipse-adore/adore_cli.git
[submodule "vendor/OptiNLC"]
	path = vendor/OptiNLC
	url = git@github.com:dlr-ts/OptiNLC.git
[submodule "vendor/mathematics_toolbox"]
	path = vendor/mathematics_toolbox
	url = git@github.com:dlr-ts/mathematics_toolbox.git

[submodule "vendor/ros2_observer"]
	path = vendor/ros2_observer
	url = git@github.com:dlr-ts/ros2_observer.git
[submodule "tools/lichtblick/lichtblick"]
	path = tools/lichtblick/lichtblick
	url = https://github.com/Lichtblick-Suite/lichtblick.git
[submodule "vendor/libOpenDRIVE/libOpenDRIVE"]
	path = vendor/libOpenDRIVE/libOpenDRIVE
	url = git@github.com:pageldev/libOpenDRIVE.git
[submodule "ros2_workspace/src/vendor/osqp-eigen"]
	path = ros2_workspace/src/vendor/osqp_eigen
	url = https://github.com/robotology/osqp-eigen.git
[submodule "ros2_workspace/src/vendor/multi_agent_solver"]
	path = ros2_workspace/src/vendor/multi_agent_solver
	url = git@github.com:DLR-TS/multi_agent_solver.git
[submodule "ros2_workspace/src/vendor/osqp"]
	path = ros2_workspace/src/vendor/osqp/osqp
	url = https://github.com/osqp/osqp.git
[submodule "ros2_workspace/src/vendor/libOpenDRIVE"]
	path = ros2_workspace/src/vendor/libOpenDRIVE
	url = git@github.com:pageldev/libOpenDRIVE.git
[submodule "ros2_workspace/src/vendor/qdldl"]
	path = ros2_workspace/src/vendor/osqp/qdldl
	url = git@github.com:osqp/qdldl.git
[submodule "ros2_workspace/src/vendor/pugixml"]
	path = ros2_workspace/src/vendor/osqp/pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "ros2_workspace/src/vendor/osqp_build/osqp"]
	path = ros2_workspace/src/vendor/osqp_build/osqp
	url = https://github.com/osqp/osqp.git
[submodule "vendor/adore_model_checker"]
	path = vendor/adore_model_checker
	url = git@github.com:DLR-TS/adore_model_checker.git
[submodule "ros2_workspace/src/adore_ros2_nodes/operational_design_domain"]
	path = ros2_workspace/src/adore_ros2_nodes/operational_design_domain
	url = git@github.com:DLR-TS/operational_design_domain.git
