[submodule "tools/adore_cli"]
	path = tools/adore_cli
	url = git@github.com:dlr-ts/adore_cli.git
[submodule "tools/ci_teststand"]
	path = tools/ci_teststand
	url = git@github.com:dlr-ts/ci_teststand.git
	ignore = untracked
	shallow = true
[submodule "vendor/websocketpp"]
	path = vendor/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
	ignore = untracked
	shallow = true
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
	ignore = untracked
	shallow = true
[submodule "tools/foxbox/foxbox"]
	path = tools/foxbox/foxbox
	url = https://github.com/bmw-software-engineering/foxbox.git
[submodule "tools/lichtblick/lichtblick"]
	path = tools/lichtblick/lichtblick
	url = https://github.com/Lichtblick-Suite/lichtblick.git
	ignore = untracked
	shallow = true
[submodule "vendor/OptiNLC"]
	path = vendor/OptiNLC
	url = git@github.com:DLR-TS/OptiNLC.git
[submodule "vendor/mathematics_toolbox"]
	path = vendor/mathematics_toolbox
	url = git@github.com:DLR-TS/mathematics_toolbox.git
[submodule "libraries"]
	path = libraries
	url = git@github.com:DLR-TS/adore_libraries.git
[submodule "ros2_workspace/src/ros2_messages/adore_ros2_msgs"]
	path = ros2_workspace/src/ros2_messages/adore_ros2_msgs
	url = git@github.com:DLR-TS/adore_ros2_msgs.git
[submodule "ros2_workspace/src/adore_simulated_vehicle"]
	path = ros2_workspace/src/simulated_vehicle
	url = git@github.com:DLR-TS/adore_simulated_vehicle.git
[submodule "mission_control"]
	path = ros2_workspace/src/mission_control
	url = git@github.com:DLR-TS/adore_mission_control.git
[submodule "ros2_workspace/src/adore_visualizer"]
	path = ros2_workspace/src/visualizer
	url = git@github.com:DLR-TS/adore_visualizer.git
[submodule "ros2_workspace/src/adore_decision_maker"]
	path = ros2_workspace/src/decision_maker
	url = git@github.com:DLR-TS/adore_decision_maker.git
[submodule "ros2_workspace/src/adore_trajectory_tracker"]
	path = ros2_workspace/src/trajectory_tracker
	url = git@github.com:DLR-TS/adore_trajectory_tracker.git
[submodule "adore_scenarios/adore_simulation_scenarios"]
	path = adore_scenarios/simulation_scenarios
	url = git@github.com:DLR-TS/adore_simulation_scenarios.git
